MYSQL_DATABASE=elearning
MYSQL_USER=elearning
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-me
DB_URL=jdbc:mysql://localhost:3306/elearning?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DB_USERNAME=elearning
DB_PASSWORD=change-me
JWT_SECRET=replace-with-at-least-32-random-characters
JWT_EXPIRATION_MINUTES=15
PASSWORD_RESET_EXPIRATION_MINUTES=30
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM=no-reply@elearning.local
DEV_ADMIN_ENABLED=true
DEV_ADMIN_EMAIL=admin@elearning.local
DEV_ADMIN_PASSWORD=ChangeMe123!
NEXT_PUBLIC_API_URL=http://localhost:8080/api
WEB_ORIGIN=http://localhost:3000
